<a href="https://colab.research.google.com/github/omkart0124/Exploratory-Data-Analysis/blob/main/Stroke_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv("stroke-data.csv")
df.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [ ]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [ ]:
df.drop(columns='id', axis=1, inplace=True)

As we can see in the above list of datatypes, columns named gender, ever_married, work_type, Residence_type, smoking_status all are of object data type which need to be converted to numerical values before providing them for training the model. So here we mapped them to numerical values such as 1 or 0.

In [ ]:
#df["Residence_type"] = df["Residence_type"].apply(lambda x: 1 if x == "Urban" else 0)
#df["ever_married"] = df["Residence_type"].apply(lambda x: 1 if x == "Yes" else 0)
#df["gender"] = df["gender"].apply(lambda x: 1 if x == "Male" else 0)
#df = pd.get_dummies(data=df, columns=['smoking_status', 'work_type'])

In [ ]:
#df.head(2)

In [ ]:
gender = pd.get_dummies(df["gender"], drop_first=True)
ever_married = pd.get_dummies(df["ever_married"], drop_first=True)
Residence_type = pd.get_dummies(df["Residence_type"], drop_first=True)
smoking_status = pd.get_dummies(df["smoking_status"], drop_first=True)
work_type = pd.get_dummies(df["work_type"], drop_first=True)

In [ ]:
# delete extra features
df.drop(["gender", "ever_married","Residence_type","smoking_status","work_type"], axis=1, inplace=True)

In [ ]:
df1 = pd.concat([df, gender, ever_married, Residence_type ,smoking_status ,work_type,], axis=1)

In [ ]:
df1.head()

    age  hypertension  heart_disease  ...  Private  Self-employed  children
0  67.0             0              1  ...        1              0         0
1  61.0             0              0  ...        0              1         0
2  80.0             0              1  ...        1              0         0
3  49.0             0              0  ...        1              0         0
4  79.0             1              0  ...        0              1         0

[5 rows x 17 columns]

In [ ]:
df1.isnull().sum()

age                    0
hypertension           0
heart_disease          0
avg_glucose_level      0
bmi                  201
stroke                 0
Male                   0
Other                  0
Yes                    0
Urban                  0
formerly smoked        0
never smoked           0
smokes                 0
Never_worked           0
Private                0
Self-employed          0
children               0
dtype: int64

we need to ensure that our dataset does not contain any null values. But as we can see above "bmi"column has null values which we have filled using mean of the column.

In [ ]:
df1['bmi'] = df1['bmi'].fillna(df1['bmi'].mean())

In [ ]:
df1.isnull().sum()

age                  0
hypertension         0
heart_disease        0
avg_glucose_level    0
bmi                  0
stroke               0
Male                 0
Other                0
Yes                  0
Urban                0
formerly smoked      0
never smoked         0
smokes               0
Never_worked         0
Private              0
Self-employed        0
children             0
dtype: int64

##Train_Test_Split

In [ ]:
x = df1.drop('stroke', axis='columns')
y= df1['stroke']

In [ ]:
# scalling

ss = StandardScaler()
x = ss.fit_transform(x)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [ ]:
x_train.shape

(3577, 16)

In [ ]:
model = tf.keras.Sequential(
    [tf.keras.layers.Dense(16, activation="relu", input_shape=(x.shape[1],)),#---------------1st layer the number 15 denotes number of neurons
     tf.keras.layers.Dense(25, activation="relu"),#---------------2st layer 20 neurons
     tf.keras.layers.Dense(1, activation="sigmoid")]#--------------Output layer 1 neuron
)

In [ ]:
model.summary ()

# params : input parameter along with bias.
# 16(No of features)+15(Neurons)+15(Bias)=255

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 16)                272
_________________________________________________________________
dense_16 (Dense)             (None, 25)                425
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 26
=================================================================
Total params: 723
Trainable params: 723
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer= 'adam', loss="binary_crossentropy", metrics=['accuracy'])

In [ ]:
trained_model = model.fit(x_train, y_train, epochs=100, batch_size=20)

Epoch 1/100
179/179 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7107
Epoch 2/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1849 - accuracy: 0.9556
Epoch 3/100
179/179 [==============================] - 0s 983us/step - loss: 0.1965 - accuracy: 0.9466
Epoch 4/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1717 - accuracy: 0.9516
Epoch 5/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1577 - accuracy: 0.9542
Epoch 6/100
179/179 [==============================] - 0s 965us/step - loss: 0.1658 - accuracy: 0.9490
Epoch 7/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1497 - accuracy: 0.9550
Epoch 8/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1584 - accuracy: 0.9521
Epoch 9/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1743 - accuracy: 0.9447
Epoch 10/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1436 - accuracy: 0.9573
Epoch 11/100
179/179 [==============================] - 0s 995us/step - loss: 0.1581 - accuracy: 0.9486
Epoch 12/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1433 - accuracy: 0.9538
Epoch 13/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1435 - accuracy: 0.9550
Epoch 14/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1596 - accuracy: 0.9464
Epoch 15/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1540 - accuracy: 0.9500
Epoch 16/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1457 - accuracy: 0.9514
Epoch 17/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1507 - accuracy: 0.9520
Epoch 18/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1402 - accuracy: 0.9565
Epoch 19/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1502 - accuracy: 0.9531
Epoch 20/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1516 - accuracy: 0.9527
Epoch 21/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1565 - accuracy: 0.9505
Epoch 22/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1578 - accuracy: 0.9452
Epoch 23/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1541 - accuracy: 0.9483
Epoch 24/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1515 - accuracy: 0.9507
Epoch 25/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1537 - accuracy: 0.9498
Epoch 26/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1467 - accuracy: 0.9530
Epoch 27/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1536 - accuracy: 0.9492
Epoch 28/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1408 - accuracy: 0.9551
Epoch 29/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1510 - accuracy: 0.9510
Epoch 30/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1378 - accuracy: 0.9535
Epoch 31/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1377 - accuracy: 0.9567
Epoch 32/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1423 - accuracy: 0.9521
Epoch 33/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1406 - accuracy: 0.9524
Epoch 34/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1346 - accuracy: 0.9543
Epoch 35/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1428 - accuracy: 0.9537
Epoch 36/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1362 - accuracy: 0.9550
Epoch 37/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1433 - accuracy: 0.9494
Epoch 38/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1357 - accuracy: 0.9557
Epoch 39/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1321 - accuracy: 0.9551
Epoch 40/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1466 - accuracy: 0.9486
Epoch 41/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1388 - accuracy: 0.9533
Epoch 42/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1582 - accuracy: 0.9434
Epoch 43/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1212 - accuracy: 0.9596
Epoch 44/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1339 - accuracy: 0.9546
Epoch 45/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1353 - accuracy: 0.9531
Epoch 46/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1395 - accuracy: 0.9513
Epoch 47/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1264 - accuracy: 0.9573
Epoch 48/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1454 - accuracy: 0.9543
Epoch 49/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1444 - accuracy: 0.9494
Epoch 50/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1451 - accuracy: 0.9480
Epoch 51/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1289 - accuracy: 0.9569
Epoch 52/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1258 - accuracy: 0.9558
Epoch 53/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1283 - accuracy: 0.9554
Epoch 54/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1307 - accuracy: 0.9528
Epoch 55/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1381 - accuracy: 0.9516
Epoch 56/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1262 - accuracy: 0.9534
Epoch 57/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1298 - accuracy: 0.9550
Epoch 58/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1217 - accuracy: 0.9586
Epoch 59/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1365 - accuracy: 0.9502
Epoch 60/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1324 - accuracy: 0.9554
Epoch 61/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1325 - accuracy: 0.9537
Epoch 62/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1191 - accuracy: 0.9598
Epoch 63/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1435 - accuracy: 0.9486
Epoch 64/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1412 - accuracy: 0.9505
Epoch 65/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1316 - accuracy: 0.9512
Epoch 66/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1282 - accuracy: 0.9550
Epoch 67/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1224 - accuracy: 0.9602
Epoch 68/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1344 - accuracy: 0.9519
Epoch 69/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1414 - accuracy: 0.9519
Epoch 70/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1213 - accuracy: 0.9549
Epoch 71/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1393 - accuracy: 0.9510
Epoch 72/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1382 - accuracy: 0.9521
Epoch 73/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1169 - accuracy: 0.9597
Epoch 74/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1244 - accuracy: 0.9602
Epoch 75/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1297 - accuracy: 0.9528
Epoch 76/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1214 - accuracy: 0.9574
Epoch 77/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1175 - accuracy: 0.9604
Epoch 78/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1219 - accuracy: 0.9557
Epoch 79/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1204 - accuracy: 0.9554
Epoch 80/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1243 - accuracy: 0.9544
Epoch 81/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1158 - accuracy: 0.9621
Epoch 82/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1183 - accuracy: 0.9607
Epoch 83/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1059 - accuracy: 0.9638
Epoch 84/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1280 - accuracy: 0.9511
Epoch 85/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1250 - accuracy: 0.9532
Epoch 86/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1295 - accuracy: 0.9561
Epoch 87/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1181 - accuracy: 0.9567
Epoch 88/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1316 - accuracy: 0.9559
Epoch 89/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1143 - accuracy: 0.9600
Epoch 90/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1204 - accuracy: 0.9580
Epoch 91/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1203 - accuracy: 0.9570
Epoch 92/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1066 - accuracy: 0.9609
Epoch 93/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1285 - accuracy: 0.9476
Epoch 94/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1259 - accuracy: 0.9541
Epoch 95/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1161 - accuracy: 0.9603
Epoch 96/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1303 - accuracy: 0.9516
Epoch 97/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1159 - accuracy: 0.9594
Epoch 98/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1109 - accuracy: 0.9578
Epoch 99/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1180 - accuracy: 0.9574
Epoch 100/100
179/179 [==============================] - 0s 1ms/step - loss: 0.1245 - accuracy: 0.9551

In [ ]:
y_hat = model.predict(x_test)
y_hat

array([[0.00031951],
       [0.00065061],
       [0.03360289],
       ...,
       [0.00016311],
       [0.03863752],
       [0.03170586]], dtype=float32)

In [ ]:
y_hat1 = np.where(y_hat >= 0.5, 1, 0)
y_hat1.flatten()

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
roc_auc_score(y_test, y_hat1)

0.5347146323842692

In [ ]:
from sklearn.metrics import confusion_matrix , classification_report
from sklearn.metrics import (accuracy_score, precision_score, recall_score, f1_score)

In [ ]:
confusion_matrix(y_test,y_hat1)

array([[1442,   17],
       [  68,    6]])

In [ ]:
print(accuracy_score(y_test, y_hat1))

0.9445531637312459